.form {
  margin: 0 0 .7rem;
  padding: .3rem;
  border-radius: 2rem;
  background-color: white;
  display: inline-flex;
  overflow: hidden;

  &__button {
    padding: 1rem 2rem;
    border-radius: 2rem;  
    cursor: pointer;
    background-color: $secondary;
    color: $primary;
    font-weight: 600;
  }

  &__input {
    padding: 0 1.5rem;
    font-size: 1rem;  
  }

  &__error,
  &__success {
    opacity: 0;
    display: block;
    padding: 1rem 0;
    color: crimson; 
    font-size: 1rem;
  }

  &__success {
    color: white;  
    margin: 1rem 0 0;
    padding: 1rem 1.5rem;
    background-color: rgba(forestgreen, .9);
    border-radius: .5rem; 
  }
}

@media screen and ( min-width:  $md) {
  .form {
    &__input {
      width: 20rem;  
    }
  }  
}