.form {
  padding: .3rem;
  border-radius: 2rem;
  background-color: white;
  display: inline-flex;
  overflow: hidden;

  &__button {
    padding: 1rem 2rem;
    border-radius: 2rem;  
    cursor: pointer;
    background-color: $secondary;
    color: $primary;
    font-weight: 600;
  }

  &__input {
    padding: 0 1.5rem;
    font-size: 1rem;  
  }
}

@media screen and ( min-width:  $md) {
  .form {
    &__input {
      width: 20rem;  
    }
  }  
}