.section {
  min-height: 50vh;
  background-color: rgba(white, 0.5);
  padding: 2rem;

  &--transparent {
    background-color: transparent;
  }

  &__heading {
    font-size: 2rem;
    text-align: center;

    &--left {
      text-align: left;
    }
  }

  &__content {
    background-color: $secondary;
    color: white;
    padding: 2rem 1rem;
    border-radius: 1rem;
    box-shadow: 0 10px 25px 1px rgba($secondary, .3);
    overflow: hidden;
    position: relative;

    & .section__heading {color: $primary;} 
    & .section__paragraph {opacity: .7;}

    & .form {
      flex-direction: column;
      width: 100%;
      gap: 1rem;

      &__input {
        padding: 1rem;  
      }  
    }

    & .section__img {
      position: absolute;
      bottom: -1rem;
      right: .5rem;
      width: 5rem;  
    }
  }

  &__paragraph {
    margin: 1rem 0;
  }
}

@media screen and (min-width: $md) {
  .section {
    padding: 4rem;

    &__heading {
      font-size: 3rem;
    }

    &__paragraph {
      width: 50%;
    }

    &__content {
      padding: 2rem;
      border-radius: 1.2rem;

      & .section__img {
        bottom: 1.5rem;
        right: 1rem;
      }

      & .form {
        flex-direction: row;
        width: auto;
        gap: 1rem;

        &__input {
          padding: 1rem;  
        }  
      }  
    }
  }
}

@media screen and (min-width: $lg) {
  .section {
    padding: 5rem 5rem;

    &__content {
      padding: 3rem;
      border-radius: 1.5rem;  
    }
  }
}

@media screen and (min-width: $mxl) {
  .section {
    padding: 5rem 7rem;

    &__content {
      padding: 5rem;
      border-radius: 1.5rem;  
    }
  }
}

@media screen and (min-width: $maxl) {
  .section {
    padding: 5rem 10rem;
  }
}
