.section {
  min-height: 50vh;
  background-color: rgba(white, .5);
  padding: 2rem;

  &--transparent {
    background-color: transparent;
  }

  &__heading {
    font-size: 2rem;
    text-align: center;  
  }
}


@media screen and ( min-width:  $md) {
  .section {
    padding: 4rem;

    &__heading {
      font-size: 3rem;
    }
  }  
}

@media screen and ( min-width:  $lg) {
  .section { padding: 5rem 5rem; }  
}

@media screen and ( min-width:  $mxl) {
  .section { padding: 5rem 7rem; }  
}

@media screen and ( min-width:  $maxl) {
  .section { padding: 5rem 10rem; }  
}