@import './sass/variables',
  './sass/header',
  './sass/jumbotron',
  './sass/form';

@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300&family=Work+Sans:ital,wght@0,300;0,400;1,600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: "Work Sans", serif;
}

html {
  color: $secondary;
  height: 100%;
  font-size: 16px;
  font-family: "Work Sans", serif;
  
  background-attachment: fixed;
  background-image: linear-gradient(
      190deg,
      rgba($primary, .1) 10%,
      rgba($secondary, .1) 23.96%,
      rgba($secondary, .2) 100%
    );
}

body {
  font-family: "Work Sans", serif;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", sans-serif;
}
